
<div class="col s8">
    <div class="card">    
      <div class="card-content dt-body-center"> 
        <span class="card-title"><%= "New Order" %></span>
        <%= simple_form_for(@order) do |f| %>
          <div class="row">
            <div class="form-inputs">
                <%= render partial: "orders/fields", locals: { f: f } %>
            </div>
          </div>
          <p>&nbsp;</p>
          <div class="row">
            <div class="form-actions col s9">
              <%= link_to 'Back', :back, class: 'waves-effect waves-light btn' %>
              <%= f.button :submit,value:"Place order" %>
              
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<div class="col s2 ">
<div class="card">    
<div class="card-content">
<%= link_to "Add a new address", new_address_path, class: 'waves-effect waves-light btn'%>
</div></div></div>

