<h4><%= state.capitalize %> Orders at GPBO</h4>


  <table class="striped highlight">
    <thead>
      <th>Order</th>
      <th>Date</th>
    </thead>
    <% for order in @orders %>
      <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
        <td><%= link_to order.id, order_path(order) %></td>
        <td><%= order.date %></td>
      </tr>
    <% end %>
  </table>
  <p class="supertiny"></p>
  <br />
  <%= will_paginate @orders, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
