<div class="card">
  <div class="card-content">
    <h5><%= best_in_place @item, :name, as: :input %> <br> </h5>
        <%= best_in_place @item, :description, as: :input %><br/><br/>
        
        <p> Color:  <%=@item.color%>  </p> 
        <p> Weight:  <%=@item.weight%> lbs  </p> 
        <p> Current Price:  <%=number_to_currency(@item.current_retail_price)%>  </p> 
        <% if can? :update, Item %>
          <p> Inventory Level: <%=@item.inventory_level%> </p>
          <p> Reorder Level: <%=@item.reorder_level%> </p>
          <% if @item.active %>
            <%= link_to "Make Inactive", toggle_active_path(@item), method: :patch, class: 'waves-effect waves-light btn' %> 
          <% else %>
            <%= link_to "Make Active", toggle_active_path(@item), method: :patch, class: 'waves-effect waves-light btn' %> 
          <% end %>  
          <% if @item.is_featured %>
            <%= link_to "Stop Featured", toggle_feature_path(@item), method: :patch, class: 'waves-effect waves-light btn' %> 
          <% else %>
            <%= link_to "Make Featured", toggle_feature_path(@item), method: :patch, class: 'waves-effect waves-light btn' %> 
          <% end %>
        <% end %>
      <br>
    <h5>Similar Items</h5>
    <% for item in @similar_items %>
        <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
          <td><%= link_to item.name, item_path(item) %></td>  &nbsp;&nbsp;
        </td>
        </tr>
    <% end %><br><br>
    <% if logged_in? && ( current_user.role?(:customer)) %>
          <%= link_to "Add to Cart", add_item_path(@item.id), class: 'waves-effect waves-light btn'%>
          
    <%end%>
  </div>
</div>